* {
    box-sizing: border-box;
}

body {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    background-color: #f8f8f8;
    color: #101632dd;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

#add-item {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    padding-bottom: 10px;
    width: 100%;
    max-width: 500px;
}

h2 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.1rem;
}

input, textarea, select {
    width: 100%;
    padding: 0.4rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: inherit; /* Asegura que se use la misma fuente que el resto */
    font-size: 1rem; /* Tamaño de fuente consistente */
}

textarea {
    resize: vertical; /* Permite que el textarea se redimensione verticalmente */
    min-height: 100px; /* Establece una altura mínima */
}

button {
    padding: 0.5rem;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #3f6ea1dd;
    color: white;
    border: none;
    border-radius: 3.5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Rajdhani', sans-serif;
}

button:hover {
    background-color: #3f6ea1bb;
}
