{% extends 'nav.html' %}

{% csrf_token %}

{% block extra_meta %}<meta name="csrf-token" content="{% csrf_token %}">{% endblock %}

{% block title %}Registro de Usuario - Lennon Resto{% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">  <!-- CSS específico para register.html -->
{% endblock %}

{% block content %}
<main>
    <section id="register">
        <h2>Cambiar Contraseña</h2>
        <form id="register-form" method="POST" action="{% url 'password_change' %}" class="register-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="password">Contraseña anterior</label>
                {{ form.oldpassword }}
            </div>
            <div class="form-group">
                <label for="password">Confirmar nueva contraseña</label>
                {{ form.password1 }}
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirmar nueva contraseña</label>
                {{ form.password2 }}
            </div>
            <input type="submit" value="Cambiar Contraseña" id="register-button">
        </form>
    </section>
</main>
{% endblock %}