{% extends 'nav.html' %}

{% csrf_token %}

{% block extra_meta %}<meta name="csrf-token" content="{% csrf_token %}">{% endblock %}

{% block title %}Registro de Usuario - Lennon Resto{% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">  <!-- CSS específico para register.html -->
{% endblock %}

{% block content %}
<main>
    <section id="register">
        <h2>Cambiar Contraseña</h2>
        <form id="register-form" method="POST" action="{% url 'password_change' %}" class="register-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="password">Contraseña anterior</label>
                {{ form.old_password }}
                {% if form.old_password.errors %}
                    <div class="error">{{ form.old_password.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="password">Confirmar nueva contraseña</label>
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                    <div class="error">{{ form.new_password1.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirmar nueva contraseña</label>
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                    <div class="error">{{ form.new_password2.errors }}</div>
                {% endif %}
            </div>
            {% if form.errors %}
                {% for error in form.non_field_errors %}
                <li class="error">{{ error }}</li>
                {% endfor %}
            {% endif %}
            <input type="submit" value="Cambiar Contraseña" id="register-button">
        </form>
    </section>
</main>
{% endblock %}