{% extends 'nav.html' %}

{% csrf_token %}

{% block extra_meta %}<meta name="csrf-token" content="{% csrf_token %}">{% endblock %}

{% block title %}Registro de Usuario - Lennon Resto{% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">  <!-- CSS específico para register.html -->
{% endblock %}

{% block content %}
<main>
    <section id="register">
        <h2>Crear Cuenta</h2>
        <form id="register-form" method="POST" action="{% url 'register' %}" class="register-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Nombre de Usuario</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                {{ form.password1 }}
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirmar Contraseña</label>
                {{ form.password2 }}
            </div>
            <input type="submit" value="Registrarse" id="register-button">
            <div class="crear__cuenta">
                <span>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Iniciar sesión</a></span>
            </div>
        </form>
    </section>
</main>
{% endblock %}





<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar usuario</title>
</head>
<body>
    <h1>Regitrar Usuario</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
</form>
</body>
</html>-->
