
{% extends 'nav.html' %}

{% block title %}Lennon Resto Carrito {% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">  <!-- CSS específico para main.html -->
{% endblock %}

{% block content %}
    
    <main>
        <section id="cart">
            <h2>Detalles del Pedido</h2>
            <ul id="cart-items">
                {% for item in cart %}
                    <li class=" cart__item">
                        <div class="cart__item-container">
                            <span> {{item.quantity}}x {{item.name}}</span>
                            <span class="cart__item-container-total">$ {{ item.price }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div id="total">Total: ${{ total_price }} </div>
            <button id="confirm-order">Confirmar Pedido</button>
        </section>
    </main>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/cart.js' %}"></script>  <!-- Script específico para main.html -->
{% endblock %}

