<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


<ul>
        <h2> categoria </h2>
        {% load rest_framework %}
        {% for item in menu %}
            <li>
                <h3>{{ item.title }}</h3>
                <p>Precio: {{ item.image }}</p>
                {% if item.image %}
                    <img src="{{ item.image }}" alt="{{ item.title }}" width="100">
                {% else %}
                    <p>{{ item.image }}</p>
                {% endif %}
            </li>
        {% endfor %}

</ul>
</body>
</html>

