
{% extends 'nav.html' %}
{% csrf_token %}

{% block extra_meta %}<meta name="csrf-token" content="{% csrf_token %}">{% endblock %}

{% block title %}Lennon Resto Menu{% endblock %}

{% block extra_css %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">  <!-- CSS específico para main.html -->
{% endblock %}

{% block content %}

    <section id="menu" class="category">
        {% for cate in cat %}
        <h2 class="category__title" id="first_category">{{cate.title|upper}}</h2>
        <div>
            <ul class="category__card-container">
            {% for item in menu %}
                {% if item.category.title == cate.title %}
                <li class="category__card">
                    <img src= "../media/{{ item.image }}" alt="" class="category__card-img">
                    <h4 class="category__card-name">{{ item.title }}</h4>
                    <p class="category__card-desciption"> ${{ item.price }}</p>
                    <button class="open-modal-btn" id="open-btn">AGREGAR AL PEDIDO</button>
                </li>
                <li class="overlay" id="overlay">
                    <div class="modal">
                        <button class="close-btn"> X </button>
                        <img src='../media/{{item.image}}' alt="" class="category__card-img">
                        <h2>{{ item.title }}</h2>
                        <p>{{ item.description }}</p>
                        <div class="modal-lastline">
                            <div class="modal-lastline-quantity">
                                <button id="btn-decrease"><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#101632dd"><path d="M200-440v-80h560v80H200Z"/></svg></button>
                                <input type="number" id="miInput"  class="quantity-input" min="1" value="1">
                                <button id="btn-increase"><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#101632dd"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg></button>
                            </div>
                            
                            <button class="modal-btn" data-item-id="{{ item.id }}" data-item-price="{{ item.price }}">
                                <span>AGREGAR AL PEDIDO</span> <span class="total-price">${{ item.price }}</span>
                            </button>
                        </div>
                    </div>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </section>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/menu.js' %}"></script>  <!-- Script específico para main.html -->
{% endblock %}




<!--


    /* Scripts para abrir y cerrar el modal
    const openBtn = document.getElementById('open-btn');
    const closeBtn = document.getElementById('close-btn');
    const overlay = document.getElementById('overlay');

    openBtn.addEventListener('click', () => {
        overlay.style.visibility = 'visible';
    });

    closeBtn.addEventListener('click', () => {
        overlay.style.visibility = 'hidden';
    });*/

-->
