{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_meta %}{% endblock %}
    <title>{% block title %}Lennon Resto{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    {% block extra_css %}{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<body>
    {% block header %}
    <header>
        <div class="header">
            <input type="checkbox" class="header__checkbox" id="open-menu">
            <label for="open-menu"  class="header__open-nav-button" role="button"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#5f6368"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></label>
            <div class="header__logo-container">
                <img src="{% static 'images/lennonglasses.png' %}" alt="logo de Lennon" class="header__logo-img">
                <p>LENNON</p>
            </div>
            {% if not user.is_staff %}
            <div class="header__nav-item cart query">
                {% if cart_items_count %}
                <p class="header__nav-item-count">{{ cart_items_count }}</p>
                {% endif %}
                <a title="Cart" href="{% url 'cart' %}"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#5f6368"><path d="M252.31-100Q222-100 201-121q-21-21-21-51.31v-455.38Q180-658 201-679q21-21 51.31-21H330v-10q0-62.15 43.92-106.08Q417.85-860 480-860t106.08 43.92Q630-772.15 630-710v10h77.69Q738-700 759-679q21 21 21 51.31v455.38Q780-142 759-121q-21 21-51.31 21H252.31Zm0-60h455.38q4.62 0 8.46-3.85 3.85-3.84 3.85-8.46v-455.38q0-4.62-3.85-8.46-3.84-3.85-8.46-3.85H630v90q0 12.77-8.62 21.38Q612.77-520 600-520t-21.38-8.62Q570-537.23 570-550v-90H390v90q0 12.77-8.62 21.38Q372.77-520 360-520t-21.38-8.62Q330-537.23 330-550v-90h-77.69q-4.62 0-8.46 3.85-3.85 3.84-3.85 8.46v455.38q0 4.62 3.85 8.46 3.84 3.85 8.46 3.85ZM390-700h180v-10q0-37.61-26.19-63.81Q517.62-800 480-800q-37.62 0-63.81 26.19Q390-747.61 390-710v10ZM240-160v-480 480Z"/></svg></a></div>
            {% endif %}
            <nav class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-item"><a href="#profile">Nosotros</a></li>
                    <li class="header__nav-item"><a href="{% url 'menu' %}">Menu</a></li>
                {% if user.is_staff %}
                    <li class="header__nav-item"><a href="{% url 'pending-orders' %}">Pedidos</a></li>
                {% else %}
                    <li class="header__nav-item headerlogin"><a href="{% url 'orders-list' %}">Mis Pedidos</a></li>
                {% endif %}
                {% if user.username %}
                    <li class="header__nav-item headerlogin"><a href="{% url 'password_change' %}">Cambiar Contraseña</a></li>
                    <li class="header__nav-item headerlogin headerlogout"><form method="POST" action="{% url 'logout' %}" class="headerlogin headerlogout">
                        {% csrf_token %}
                        <button type="submit" class="headerlogout">Logout</button></form>
                    </li>
                {% else %}
                    <li class="header__nav-item headerlogin"><a href="{% url 'login' %}">Ingresar</a></li>
                {% endif %}
                
                </ul>
            </nav>
                <div class="header__rigth">
                    <ul class="header__rigth-list">
                    {% if user.username %}
                        <li class="header__nav-item saludo" id="saludo"> 
                            <span class="saludo-span">Hola {{ user.username|upper }}<svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#262626dd"><path d="M480-384 288-576h384L480-384Z"/></svg></span>
                            <div class="dropdown">
                                <ul>
                                    {% if not user.is_staff %}
                                    <li><a href="{% url 'orders-list' %}">Mis Pedidos</a></li>
                                    {% endif %}
                                    <li><a href="{% url 'password_change' %}">Cambiar Contraseña</a></li>
                                    <li><form method="POST" action="{% url 'logout' %}">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-button">Logout</button></form>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        {% if not user.is_staff %}
                        <li class="header__nav-item cart">
                            {% if cart_items_count %}
                            <p class="header__nav-item-count">{{ cart_items_count }}</p>
                            {% endif %}
                            <a title="Cart" href="{% url 'cart' %}"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#5f6368"><path d="M252.31-100Q222-100 201-121q-21-21-21-51.31v-455.38Q180-658 201-679q21-21 51.31-21H330v-10q0-62.15 43.92-106.08Q417.85-860 480-860t106.08 43.92Q630-772.15 630-710v10h77.69Q738-700 759-679q21 21 21 51.31v455.38Q780-142 759-121q-21 21-51.31 21H252.31Zm0-60h455.38q4.62 0 8.46-3.85 3.85-3.84 3.85-8.46v-455.38q0-4.62-3.85-8.46-3.84-3.85-8.46-3.85H630v90q0 12.77-8.62 21.38Q612.77-520 600-520t-21.38-8.62Q570-537.23 570-550v-90H390v90q0 12.77-8.62 21.38Q372.77-520 360-520t-21.38-8.62Q330-537.23 330-550v-90h-77.69q-4.62 0-8.46 3.85-3.85 3.84-3.85 8.46v455.38q0 4.62 3.85 8.46 3.84 3.85 8.46 3.85ZM390-700h180v-10q0-37.61-26.19-63.81Q517.62-800 480-800q-37.62 0-63.81 26.19Q390-747.61 390-710v10ZM240-160v-480 480Z"/></svg></a></li>
                        {% endif %}
                    {% else %}
                        <li class="header__nav-item"> <a href="{% url 'login' %}" class="header__nav-item-login"><svg xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 -960 960 960" width="28px" fill="#414040dd"><path d="M234-276q51-39 114-61.5T480-360q69 0 132 22.5T726-276q35-41 54.5-93T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 59 19.5 111t54.5 93Zm246-164q-59 0-99.5-40.5T340-580q0-59 40.5-99.5T480-720q59 0 99.5 40.5T620-580q0 59-40.5 99.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q53 0 100-15.5t86-44.5q-39-29-86-44.5T480-280q-53 0-100 15.5T294-220q39 29 86 44.5T480-160Zm0-360q26 0 43-17t17-43q0-26-17-43t-43-17q-26 0-43 17t-17 43q0 26 17 43t43 17Zm0-60Zm0 360Z"/></svg><p class="login">Ingresar</p></a></li>
                    {% endif %}
                    </ul>
                </div>
        </div>
    </header>
    {% endblock %}

    {% block content %} <!-- Contenido de la pagina -->
    {% endblock %}

    <script src="{% static 'js/nav.js' %}"></script>  <!-- Script común -->
    {% block extra_scripts %}{% endblock %}  <!-- Bloque para scripts adicionales -->
</body>
</html>