<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="category">
        <h2 class="category__title">Usuario Actual: {{ user.username }}</h2>
        <h2 class="category__title">Ordenes</h2>
        <div>
            <ul class="category__card-container">
            {% for order in orders %}
                
                <li class="category__card">
                    <h4 class="category__card-name">{{ order.user }}</h4>
                    <h4 class="category__card-name">{{ order.Date }}</h4>
                    <p class="category__card-desciption"> ${{ order.total }}</p>
                </li>
                {% for item in order.order_items %}
                <li class="category__card"></li>
                    <h4 class="category__card-name">{{ item.name }}</h4>
                    <h4 class="category__card-name">{{ item.quantity }}</h4>
                    <p class="category__card-desciption"> ${{ item.unit_price }}</p>
                    <p class="category__card-desciption"> ${{ item.price }}</p>
                </li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>