{% extends 'nav.html' %}
{% csrf_token %}

{% block extra_meta %}<meta name="csrf-token" content="{% csrf_token %}">{% endblock %}

{% block title %}Pedidos del Restaurante - Lennon Resto{% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/orders_list.css' %}">  <!-- CSS específico para pedidos.html -->
{% endblock %}

{% block content %}
<section id="pedidos" class="category">
    <h2 class="category__title">PEDIDOS</h2>
    
    <div id="pendientes" class="tab-content active">
        <div class="tab-content-title"><h3>Pedidos pendientes de entrega:</h3></div>
        <ul class="pedido-list">
            {% for pedido in orders %}
                {% if pedido.status %}
            <li class="pedido-item">
                <div class="pedido-item-cabecera">
                    <span>Pedido N°: {{ pedido.id }}</span>
                    <span>{{ pedido.Date }}</span>
                </div>
                <div>
                    <ul class="pedido-item-detalle">
                        {% for order in pedido.order_items %}
                        <li>
                            <span>{{ order.quantity }}</span>
                            <span>{{ order.name }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="tab-content-title"><h3>Pedidos entregados:</h3></div>
        <ul class="pedido-list">
            {% for pedido in orders %}
                {% if not pedido.status %}
            <li class="pedido-item">
                <div class="pedido-item-cabecera">
                    <span>Pedido N°: {{ pedido.id }}</span>
                    <span>{{ pedido.Date }}</span>
                </div>
                <div>
                    <ul class="pedido-item-detalle">
                        {% for order in pedido.order_items %}
                        <li>
                            <span>{{ order.quantity }}</span>
                            <span>{{ order.name }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/orders.js' %}"></script>
{% endblock %}
