{% extends 'nav.html' %}
{% csrf_token %}

{% block extra_meta %}<meta name="csrf-token" content="{% csrf_token %}">{% endblock %}

{% block title %}Pedidos del Restaurante - Lennon Resto{% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/orders.css' %}">  <!-- CSS específico para pedidos.html -->
{% endblock %}

{% block content %}
<section id="pedidos" class="category">
    <h2 class="category__title">PEDIDOS PENDIENTES</h2>
    
    <!--<div class="tabs">
        <button class="tab-button active" onclick="showTab('pendientes')">Pendientes</button>
        <button class="tab-button" onclick="showTab('realizados')">Realizados</button>
    </div>-->
    
    <div id="pendientes" class="tab-content active">
        <div class="tab-content-title"><h3></h3><button class="btn" onclick=window.location.href="{% url 'completed-orders' %}">Ir a pedidos Cumplidos</button></div>
        <ul class="pedido-list">
            {% for pedido in orders %}
            <li class="pedido-item">
                <div class="pedido-item-cabecera">
                    <span>Pedido N°: {{ pedido.id }}</span>
                    <span>U:{{ pedido.user }}</span>
                    <span>{{ pedido.Date }}</span>
                    <span>Tot   : ${{ pedido.total }}</span>
                </div>
                <div>
                    <ul class="pedido-item-detalle">
                        {% for order in pedido.order_items %}
                        <li>
                            <span>{{ order.quantity }}</span>
                            <span>{{ order.name }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="pedido-item-btn">
                    <button class="btn btn-ver-detalles" data-id="{{ pedido.id }}" data-status="{{ pedido.status }}">Entregado </button>
                    <button class="btn imprimir" data-id="{{ pedido.id }}" data-status="{{ pedido.status }}"><a href="{% url 'print-order' pedido.id %}" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#FFF"><path d="M648-611.69v-120H312v120h-52v-172h440v172h-52Zm-468.46 52h601.92H179.54Zm520.56 96q15.21 0 25.71-10.29t10.5-25.5q0-15.21-10.29-25.71t-25.5-10.5q-15.21 0-25.71 10.29t-10.5 25.5q0 15.21 10.29 25.71t25.5 10.5ZM648-216v-154.77H312V-216h336Zm52 52H260v-144H127.54v-227.69q0-31.5 22.04-53.75t53.96-22.25h552.92q31.5 0 53.75 22.25t22.25 53.75V-308H700v144Zm81.46-196v-161.37q0-16.32-12-27.32t-28-11H217.54q-16.15 0-27.08 11.04-10.92 11.04-10.92 27.36V-360H260v-62.77h440V-360h81.46Z"/></svg></a></button>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/orders.js' %}"></script>
{% endblock %}
